.fonte-titulo {
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    font-size: 80px;
    font-weight: bold;
}

.cor-texto {
    color:aquamarine;
}

.fundo {
    background: #f0f0f0 url('fundoLibrerty.jpg') repeat-y center;
    background-size: cover;
}

.opacidade {
    opacity: 0.7;
}


table {
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.7);
}
            
table td,
table th,
table p {
    opacity: 1;
}
